#qt_calendar_calendarview {     /*日历日期区域*/
   letter-spacing : 2px;
	font-size : 15px;
}

QTableView {    /*星期显示*/
   alternate-background-color: rgb(250, 250, 250);
   letter-spacing : 2px;
   font-size : 15px;}

#qt_calendar_navigationbar {   /*年月选择区域*/
    letter-spacing : 2px;font-size : 15px;
}
